body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  /* height: 100vh;
    width: 100vh; */
}

.bilde {
  width: 50%;
  height: 50%;
  /* gap: 100px; */
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: blue;
  justify-content: space-between;
  width: 100%;
}
/* .flex{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 100px;

} */
.pDiv {
display: flex;
  flex-direction: column;
}
.bildeDive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.navigatør {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 30px;
  gap: 50px;
  align-items: center;
  color: black;
  z-index: 1;
}
.color {
  background-color: blue;
  color: white;
}


/* Elementet med klasse .file vil vises over #imageContainer img på grunn av sin høyere z-index verdi */
.file{
  width: 50rem;
  height: 50rem;
  position: relative;
  z-index: 2; /* Sørger for at .file vises over img, som har en lavere z-index verdi */
}

/* #imageContainer img {
  position: relative; /* Legg til denne for å sikre at z-index blir respektert */
  /* width: 50rem;
  height: auto;
  margin: 10px;
  z-index: -5; /* Dette elementet vil vises bak andre elementer med en høyere z-index verdi */
  /* border-radius: 10px;
    filter: grayscale(100%);
} */