body {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* height: 100vh;
    width: 100vh; */
}

.bilde {
  width: 50%;
  height: 50%;
  /* gap: 100px; */
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: blue;
  justify-content: space-between;
  width: 100%;
}
 .forelderDiv {
  display: flex;
  flex-direction: row;
  align-items:start;
}
/* .flex{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 100px;

} */
.pDiv {
display: flex;
  flex-direction: column;
}
.bildeDive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.navigatør {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 30px;
  gap: 50px;
  align-items: center;
  color: black;
  z-index: 1;
}