body{
    display: flex;
    flex-direction: column;
    margin: 0;
    /* height: 100vh;
    width: 100vh; */
}



header{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: blue;
justify-content: space-between;
    width: 100%;
}
/* .ManSomKoder{
    width: 50%;
    height: 300px;
    padding-top: 130px;
    z-index: -2;
} */
/* .code{
    width: 30%;
    height: 300px;
    margin: 50px;} */
.bilde{
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    align-items: center;
    width: 50%;
    height: 50%;
}
/* .bildeEn{
    display: flex;
} */
    .bildeDive{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;}
.navigatør{
position: sticky;
display: flex;
flex-direction: row;
justify-content: end;
padding: 30px;
/* padding-left: 300px;
padding-left: 80%; */
gap: 50px;
align-items: center;
color: black;
z-index: 1;}







.ManSomKoder
{display: block;}
